body {
  background-color: #FFF5EE;
}

.city-preview-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 15px;
  margin-bottom: 30px;
  background-color: #FFF;
}

body > .container {
  padding-top: 60px;
}

.city-name {
  margin-right: 10px;
}

.city-avatar-thumb {
  margin-right: 10px;
  height: 50px;
}

.city-avatar-default {
  margin-right: 10px;
  height: 200px;
}

.city-privew-card-avatar-container {
  text-align: center;
  height: 50px;
  margin-bottom: 10px;
}

.city-avatar {
  float: left;
  padding-left: 15px;
}

.city-description {
  margin-top: 10px;
}
